{% extends "main/site_base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Вход в аккаунт</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Войти</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Ещё нет аккаунта? <a class="ml-2" href="{% url 'register' %}">Создать сейчас</a>
            </small>
        </div>
    </div>
{% endblock content %}