{% extends 'main/site_base.html' %}

{% block sidebar %}
  <div class="list-group">
    <a href="{% url 'profile' %}" class="list-group-item list-group-item-action" aria-current="true">Профиль</a>
    {% if user.is_superuser %}
      <a href="{% url 'post_list' %}" class="list-group-item list-group-item-action">Все заявки</a>
      <a href="{% url 'category_list' %}" class="list-group-item list-group-item-action">Все категории</a>
      <a href="{% url 'category_create' %}" class="list-group-item list-group-item-action">Создать категорию</a>
    {% else %}
      <a href="{% url 'post_list'  %}?sort=date&filter=completed" class="list-group-item list-group-item-action">Главная</a>
      <a href="{% url 'post_list' %}" class="list-group-item list-group-item-action">Все заявки</a>
      <a href="{% url 'post_create' %}" class="list-group-item list-group-item-action">Создать заявку</a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" />
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Информация</legend>
        {{ u_form }}
        {{ p_form }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Обновить</button>
      </div>
    </form>
  </div>
{% endblock %}