{% extends 'main/site_base.html' %}

{% block sidebar %}
  <div class="list-group">
    <a href="{% url 'profile' %}" class="list-group-item list-group-item-action" aria-current="true">Мой профиль</a>
    {% if user.is_superuser %}
      <a href="{% url 'post_list' %}" class="list-group-item list-group-item-action">Все заявки</a>
      <a href="{% url 'category_list' %}" class="list-group-item list-group-item-action">Все категории</a>
      <a href="{% url 'category_create' %}" class="list-group-item list-group-item-action">Создать категорию</a>
    {% else %}
      <a href="{% url 'post_list' %}?sort=date&filter=completed" class="list-group-item list-group-item-action">Главная</a>
      <a href="{% url 'post_list' %}" class="list-group-item list-group-item-action">Все заявки</a>
      <a href="{% url 'post_create' %}" class="list-group-item list-group-item-action">Создать заявку</a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Blog Post</legend>
        {{ form }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Post</button>
      </div>
    </form>
  </div>
{% endblock %}